In [138]:
import numpy as np
import pandas as pd

In [139]:
file_path = r'C:\Users\82108\Desktop\jw\프로젝트\반려동물등록현황전처리전\행정동단위_동반가능_문화시설\한국문화정보원_전국 반려동물 동반 가능 문화시설 위치 데이터_20221130.CSV'

df_raw = pd.read_csv(file_path, encoding='cp949')

In [140]:
# 원본데이터 복사
facility = df_raw.copy()
facility.head()

,시설명,카테고리1,카테고리2,카테고리3,시도 명칭,시군구 명칭,법정읍면동명칭,리 명칭,번지,도로명 이름,...,입장(이용료)가격 정보,반려동물 동반 가능정보,반려동물 전용 정보,입장 가능 동물 크기,반려동물 제한사항,장소(실내) 여부,장소(실외)여부,기본 정보_장소설명,애견 동반 추가 요금,최종작성일
0,1004 약국,반려동물업,반려의료,동물약국,경기도,고양시 덕양구,동산동,NaN,352-1 번지,동세로,...,변동,동반가능,해당없음,모두 가능,제한사항 없음,실내 동반가능,실외 동반불가,동물약국,없음,2022-11-30
1,1004섬수석미술관,반려동물업,반려동반여행,미술관,전라남도,신안군,자은면,백산리,633-54 번지,자은서부2길,...,없음,동반불가,해당없음,해당없음,해당없음,실내 동반가능,실외 동반가능,미술관,없음,2022-11-30
2,100세건강약국,반려동물업,반려의료,동물약국,경기도,안양시 만안구,안양동,NaN,856-4 번지,안양로,...,변동,동반가능,해당없음,모두 가능,제한사항 없음,실내 동반가능,실외 동반불가,동물약국,없음,2022-11-30
3,100세약국,반려동물업,반려의료,동물약국,서울특별시,영등포구,당산2동,NaN,217-4 번지,양평로,...,변동,동반가능,해당없음,모두 가능,제한사항 없음,실내 동반가능,실외 동반불가,동물약국,없음,2022-11-30
4,100세약국,반려동물업,반려의료,동물약국,경기도,수원시 팔달구,인계동,NaN,942-4 번지,경수대로,...,변동,동반가능,해당없음,모두 가능,제한사항 없음,실내 동반가능,실외 동반불가,동물약국,없음,2022-11-30

In [141]:
# 열 명칭 확인 
facility.columns

Index(['시설명', '카테고리1', '카테고리2', '카테고리3', '시도 명칭', '시군구 명칭', '법정읍면동명칭', '리 명칭',
       '번지', '도로명 이름', '건물 번호', '위도', '경도', '우편번호', '도로명주소', '지번주소', '전화번호',
       '홈페이지', '휴무일', '운영시간', '주차 가능여부', '입장(이용료)가격 정보', '반려동물 동반 가능정보',
       '반려동물 전용 정보', '입장 가능 동물 크기', '반려동물 제한사항', '장소(실내) 여부', '장소(실외)여부',
       '기본 정보_장소설명', '애견 동반 추가 요금', '최종작성일'],
      dtype='object')

In [142]:
# 서울특별시를 제외한 다른 
facility = facility[facility['시도 명칭'] == '서울특별시']

# 필요한 컬럼만 남기기
facility = facility[['시군구 명칭','법정읍면동명칭','시설명','카테고리2','카테고리3']]

# 컬럼 이름 바꾸기

facility.rename(columns={'시군구 명칭':'Gu',
                         '법정읍면동명칭':'Dong',
                         '시설명':'name',
                         '카테고리2':'Category',
                         '카테고리3':'Category1'},
                inplace=True)
facility.head()

      Gu   Dong        name  Category Category1
3   영등포구   당산2동      100세약국      반려의료      동물약국
6     중구    신당동  100코달리 와인바  반려동물식당카페        카페
15   금천구    시흥동     1층메디컬약국      반려의료      동물약국
16   성동구  하왕십리동      1층이화약국      반려의료      동물약국
26   용산구    보광동    21세기동물병원      반려의료      동물병원

In [143]:
facility = facility[(facility['Category'] == '반려동물식당카페') | (facility['Category'] == '반려동반여행')]

facility

         Gu  Dong           name  Category Category1
6        중구   신당동     100코달리 와인바  반려동물식당카페        카페
156     종로구   인사동          2Cats  반려동물식당카페        카페
228     마포구   서교동         38도씨식당  반려동물식당카페        식당
251    영등포구  여의도동           63아트    반려동반여행       미술관
434     종로구   가회동        가회민화박물관    반려동반여행       박물관
...     ...   ...            ...       ...       ...
23846   강남구   신사동         K현대미술관    반려동반여행       미술관
23868   종로구   수송동         OCI미술관    반려동반여행       미술관
23870   강서구   화곡동       OMW 애견카페  반려동물식당카페        카페
23889   마포구   공덕동  staywell cafe  반려동물식당카페        카페
23909   용산구  이태원동  uphill namsan  반려동물식당카페        식당

[399 rows x 5 columns]

In [144]:
# 이름을 제외한 컬럼
facility1 =  facility[['Gu','Dong','Category','Category1']]

In [145]:
# 카테고리로 분류한 동별 동반 가능 시설 
facility1 = facility1.groupby(['Gu','Dong','Category','Category1']).size()

facility1

Gu   Dong  Category  Category1
강남구  개포동   반려동반여행    박물관          1
     논현동   반려동물식당카페  식당           1
                     카페           7
           반려동반여행    박물관          1
     대치동   반려동물식당카페  카페           2
                                 ..
중구   흥인동   반려동반여행    문예회관         1
중랑구  망우동   반려동반여행    여행지          2
     면목동   반려동물식당카페  카페           2
           반려동반여행    여행지          1
     신내동   반려동물식당카페  카페           1
Length: 253, dtype: int64

In [146]:
# 데이터프레임 형태로 변경
facility1 = pd.DataFrame(facility1)

# 데이터프레임 이름 변경
facility1 = facility1.reset_index()
facility1 = facility1.rename(columns = {
                                        0:'Count'
                                        }).rename_axis('idx')

facility1

      Gu Dong  Category Category1  Count
idx
0    강남구  개포동    반려동반여행       박물관      1
1    강남구  논현동  반려동물식당카페        식당      1
2    강남구  논현동  반려동물식당카페        카페      7
3    강남구  논현동    반려동반여행       박물관      1
4    강남구  대치동  반려동물식당카페        카페      2
..   ...  ...       ...       ...    ...
248   중구  흥인동    반려동반여행      문예회관      1
249  중랑구  망우동    반려동반여행       여행지      2
250  중랑구  면목동  반려동물식당카페        카페      2
251  중랑구  면목동    반려동반여행       여행지      1
252  중랑구  신내동  반려동물식당카페        카페      1

[253 rows x 5 columns]

In [147]:
facility1.to_csv('동반가능시설_category_동반여행,식당카페_지우.csv')

In [148]:
# 카테고리 2기준(반려동물여행, 반려동물식당카페)
facility2=facility[['Gu','Dong','Category']]
facility2

         Gu  Dong  Category
6        중구   신당동  반려동물식당카페
156     종로구   인사동  반려동물식당카페
228     마포구   서교동  반려동물식당카페
251    영등포구  여의도동    반려동반여행
434     종로구   가회동    반려동반여행
...     ...   ...       ...
23846   강남구   신사동    반려동반여행
23868   종로구   수송동    반려동반여행
23870   강서구   화곡동  반려동물식당카페
23889   마포구   공덕동  반려동물식당카페
23909   용산구  이태원동  반려동물식당카페

[399 rows x 3 columns]

In [149]:
# 구, 동, 카테고리 별 수
facility2 = facility2.groupby(['Gu','Dong','Category']).size()

# 데이터프레임 형식으로 변경
facility2 = pd.DataFrame(facility2)

# 열 이름 변경
facility2 = facility2.reset_index()
facility2 = facility2.rename(columns={0:'Count'}).rename_axis('idx')

facility2

      Gu Dong  Category  Count
idx
0    강남구  개포동    반려동반여행      1
1    강남구  논현동  반려동물식당카페      8
2    강남구  논현동    반려동반여행      1
3    강남구  대치동  반려동물식당카페      2
4    강남구  대치동    반려동반여행      3
..   ...  ...       ...    ...
203   중구  흥인동    반려동반여행      1
204  중랑구  망우동    반려동반여행      2
205  중랑구  면목동  반려동물식당카페      2
206  중랑구  면목동    반려동반여행      1
207  중랑구  신내동  반려동물식당카페      1

[208 rows x 4 columns]

In [150]:
facility2.to_csv('동반가능시설_큰category기준_지우.csv')

In [151]:
facility

         Gu  Dong           name  Category Category1
6        중구   신당동     100코달리 와인바  반려동물식당카페        카페
156     종로구   인사동          2Cats  반려동물식당카페        카페
228     마포구   서교동         38도씨식당  반려동물식당카페        식당
251    영등포구  여의도동           63아트    반려동반여행       미술관
434     종로구   가회동        가회민화박물관    반려동반여행       박물관
...     ...   ...            ...       ...       ...
23846   강남구   신사동         K현대미술관    반려동반여행       미술관
23868   종로구   수송동         OCI미술관    반려동반여행       미술관
23870   강서구   화곡동       OMW 애견카페  반려동물식당카페        카페
23889   마포구   공덕동  staywell cafe  반려동물식당카페        카페
23909   용산구  이태원동  uphill namsan  반려동물식당카페        식당

[399 rows x 5 columns]

In [152]:
# 반려 동반 여행 기준으로 count
facility3 = facility[facility['Category']=='반려동반여행']

# 구, 동, 카테고리 별 수
facility3 = facility3.groupby(['Gu','Dong','Category']).size()

# 데이터프레임 형식으로 변경
facility3 = pd.DataFrame(facility3)

# 열 이름 변경
facility3 = facility3.reset_index()
facility3 = facility3.rename(columns={0:'Count'}).rename_axis('idx')

facility3

      Gu Dong Category  Count
idx
0    강남구  개포동   반려동반여행      1
1    강남구  논현동   반려동반여행      1
2    강남구  대치동   반려동반여행      3
3    강남구  신사동   반려동반여행      4
4    강남구  역삼동   반려동반여행      1
..   ...  ...      ...    ...
129   중구   필동   반려동반여행      2
130   중구  회현동   반려동반여행      2
131   중구  흥인동   반려동반여행      1
132  중랑구  망우동   반려동반여행      2
133  중랑구  면목동   반려동반여행      1

[134 rows x 4 columns]

In [155]:
facility3.to_csv('반려동반여행_지우.csv')

In [157]:
# 반려동물식당카페 기준으로 count
facility4 = facility[facility['Category']=='반려동물식당카페']

# 구, 동, 카테고리 별 수
facility4 = facility4.groupby(['Gu','Dong','Category']).size()

# 데이터프레임 형식으로 변경
facility4 = pd.DataFrame(facility4)

# 열 이름 변경
facility4 = facility4.reset_index()
facility4 = facility4.rename(columns={0:'Count'}).rename_axis('idx')

facility4

      Gu  Dong  Category  Count
idx
0    강남구   논현동  반려동물식당카페      8
1    강남구   대치동  반려동물식당카페      2
2    강남구   삼성동  반려동물식당카페      1
3    강남구   신사동  반려동물식당카페      5
4    강남구   역삼동  반려동물식당카페      6
..   ...   ...       ...    ...
69    중구    명동  반려동물식당카페      2
70    중구   신당동  반려동물식당카페      1
71    중구  을지로동  반려동물식당카페      1
72   중랑구   면목동  반려동물식당카페      2
73   중랑구   신내동  반려동물식당카페      1

[74 rows x 4 columns]

In [158]:
facility4.to_csv('반려동물식당카페_지우.csv')