In [26]:
import numpy as np
import pandas as pd

In [27]:
# 파일 불러오기
file_path = "C:/Users/82108/Desktop/jw/프로젝트/반려동물등록현황전처리전/서울_동물운송업_영업장목록_20240427.csv"
df_raw = pd.read_csv(file_path, encoding='euc-kr')
df_raw

,번호,구분,업체명,전화번호,소재지,인허가 정보,이전인허가정보,비고
0,1,운송,486펫콜 서울종로점,***********,서울특별시 종로구 충신동 25번지 73호,300000005020220005,NaN,
1,2,운송,맨즈펫,***********,서울특별시 종로구 평창동 293번지 47호 일신제책,300000005020220004,NaN,
2,3,운송,엔젤,NaN,서울특별시 중구 신당동 844번지 29통 2반,301000005020190003,3.010000e+17,
3,4,운송,pet38라0821,***********,서울특별시 용산구 원효로3가 277번지 26호,302000005020240001,NaN,
4,5,운송,pet372다8146,NaN,서울특별시 용산구 효창동 3번지 250호 용산 데시앙 포레,302000005020230002,NaN,
...,...,...,...,...,...,...,...,...
431,432,운송,pet259주9886,NaN,서울특별시 강동구 강일동 686번지 강일리버파크7단지아파트,324000005020220008,3.240000e+17,
432,433,운송,196도1428,***********,서울특별시 강동구 성내동 405번지 5호 한솔애리즈아파트,324000005020220007,3.240000e+17,
433,434,운송,하남펫택시,***********,서울특별시 강동구 천호동 392번지 9호,324000005020220003,3.240000e+17,
434,435,운송,펫캡,***********,서울특별시 강동구 천호동 26번지 19호 그레이스빌,324000005020200004,3.240000e+17,
435,436,운송,비케이 인터내셔날,***********,서울특별시 강동구 암사동 486번지 65호,324000005020180005,3.240000e+17,

In [28]:
# 원본데이터 복사
transportation = df_raw.copy()

In [29]:
# 필요한 열만 남기기
transportation = transportation[['구분','업체명','소재지',]]
transportation.head(3)

    구분          업체명                           소재지
0  운송   486펫콜 서울종로점        서울특별시 종로구 충신동 25번지 73호
1  운송           맨즈펫  서울특별시 종로구 평창동 293번지 47호 일신제책
2  운송            엔젤     서울특별시 중구 신당동 844번지 29통 2반

In [30]:
# 각 행정구와 동만 추출하기
transportation['행정구'] = transportation['소재지'].str.split(' ').str[1]
transportation['동'] = transportation['소재지'].str.split(' ').str[2]

# 소재지 열 제거하기
transportation = transportation[['구분','업체명','행정구','동']]

# 데이터 형태 보기
transportation.head()

    구분          업체명  행정구      동
0  운송   486펫콜 서울종로점  종로구    충신동
1  운송           맨즈펫  종로구    평창동
2  운송            엔젤   중구    신당동
3  운송    pet38라0821  용산구  원효로3가
4  운송   pet372다8146  용산구    효창동

In [33]:
# 각 행정구 내에 몇개의 동물 운송업이 있는 지 확인
grouped_행정구_data = transportation.groupby('행정구').size()
grouped_행정구_data

행정구
강남구     20
강동구     28
강북구     28
강서구     45
관악구     26
광진구     18
구로구     13
금천구     11
노원구     27
도봉구     10
동대문구    14
동작구     14
마포구     17
서대문구    14
서초구     15
성동구     14
성북구     16
송파구     29
양천구     13
영등포구    12
용산구      8
은평구     26
종로구      2
중구       1
중랑구     15
dtype: int64

In [52]:
# 저장하기
grouped_행정구_data.to_csv('./행정구 내 운송업 총 개수.csv')

In [50]:
# 행정구 내 각 동의 운송업 개수
grouped_동_data = transportation.groupby(['행정구','동']).size()
grouped_동_data

행정구  동
강남구  논현동    7
     대치동    1
     도곡동    2
     수서동    1
     역삼동    4
           ..
중랑구  망우동    4
     면목동    6
     묵동     3
     신내동    1
     중화동    1
Length: 149, dtype: int64

In [53]:
# 저장하기
grouped_동_data.to_csv('./각 동 내 운송업 총 개수.csv')

In [42]:
transportation.set_index(['행정구', '동'], inplace=True)

In [43]:
transportation

            구분          업체명
행정구 동
종로구 충신동    운송   486펫콜 서울종로점
    평창동    운송           맨즈펫
중구  신당동    운송            엔젤
용산구 원효로3가  운송    pet38라0821
    효창동    운송   pet372다8146
...        ...          ...
강동구 강일동    운송   pet259주9886
    성내동    운송      196도1428
    천호동    운송         하남펫택시
    천호동    운송            펫캡
    암사동    운송     비케이 인터내셔날

[436 rows x 2 columns]

In [54]:
transportation.to_csv('./transportation.csv')