In [6]:
import pandas as pd
import numpy as np

In [18]:
# 반려동물 현황 등록 데이터 불러오기
dongdaemun_registration_row = pd.read_csv('C:/Users/82108/Desktop/jw/프로젝트/반려동물등록현황전처리후/반려동물등록현황/dongdaemun_지우_v1.csv')

# 원본 데이터 복사
dongdaemun_registration = dongdaemun_registration_row.copy()

# 원하는 컬럼 추출
dongdaemun_registration = dongdaemun_registration[['Gu','Dong','Pet_Owners','Total_Registrations']]

dongdaemun_registration

     Gu  Dong  Pet_Owners  Total_Registrations
0  동대문구   신설동       147.0                194.0
1  동대문구   용두동      1025.0               1347.0
2  동대문구   이문동      1344.0               2373.0
3  동대문구   장안동      2745.0               3584.0
4  동대문구   전농동      1559.0               1960.0
5  동대문구   제기동       901.0               1194.0
6  동대문구   회기동       285.0                335.0
7  동대문구   휘경동      1130.0               1413.0
8  동대문구  답십리동      1873.0               2538.0
9  동대문구  청량리동       659.0                873.0

In [19]:
# 인구 수 데이터 불러오기
dongdaemun_population_raw = pd.read_csv('../인구수전처리전/동대문구_인구수.csv', encoding='euc-kr')

# 원본 데이터 복사
dongdaemun_pop = dongdaemun_population_raw.copy()

# 원하는 컬럼 추출
dongdaemun_pop = dongdaemun_pop[['동별(3)','2023']]

# 컬럼 명 변경
dongdaemun_pop.rename(columns={'동별(3)': 'Dong',
                            '2023':'Population'}, inplace=True)

# 소계 행 제거
dongdaemun_pop = dongdaemun_pop.drop(0)

dongdaemun_pop

     Dong  Population
1    전농1동       32897
2    전농2동       18432
3   답십리1동       28284
4   답십리2동       27854
5    장안1동       38032
6    장안2동       33020
7     회기동       13653
8    휘경1동       16179
9    휘경2동       25163
10   이문1동       21488
11   이문2동       19935
12   청량리동       19347
13    제기동       25501

In [20]:
# 위 동대문의 각 동을 연산하여 9개의 동으로 묶어야 함
dongdaemun_registration['Dong']

0     신설동
1     용두동
2     이문동
3     장안동
4     전농동
5     제기동
6     회기동
7     휘경동
8    답십리동
9    청량리동
Name: Dong, dtype: object

In [21]:
dong_mapping = {
    '신설동':[],
    '용두동':[],
    '이문동':['이문1동','이문2동'],
    '장안동':['장안1동','장안2동'],
    '전농동':['전농1동','전농2동'],
    '제기동':['제기동'],
    '회기동':['회기동'],
    '휘경동':['휘경1동','휘경2동'],
    '답십리동':['답십리1동','답십리2동'],
    '청량리동':['청량리동']
}

In [22]:
category_dongdaemun_pop ={}
for category, dongs in dong_mapping.items():
    category_dongdaemun_pop[category] = dongdaemun_pop[dongdaemun_pop['Dong'].isin(dongs)]['Population'].sum()
    
category_dongdaemun_pop

{'신설동': 0,
 '용두동': 0,
 '이문동': 41423,
 '장안동': 71052,
 '전농동': 51329,
 '제기동': 25501,
 '회기동': 13653,
 '휘경동': 41342,
 '답십리동': 56138,
 '청량리동': 19347}

In [23]:
# 딕셔너리의 키와 값을 리스트 형식으로 만들어 데이터프레임으로 변경경
category_dongdaemun_pop = pd.DataFrame({'Dong': list(category_dongdaemun_pop.keys()), 'Population': list(category_dongdaemun_pop.values())})

# 결과 출력
category_dongdaemun_pop = pd.DataFrame(category_dongdaemun_pop)
category_dongdaemun_pop

   Dong  Population
0   신설동           0
1   용두동           0
2   이문동       41423
3   장안동       71052
4   전농동       51329
5   제기동       25501
6   회기동       13653
7   휘경동       41342
8  답십리동       56138
9  청량리동       19347

In [24]:
dongdaemun_registration = pd.DataFrame(dongdaemun_registration)
dongdaemun_registration

     Gu  Dong  Pet_Owners  Total_Registrations
0  동대문구   신설동       147.0                194.0
1  동대문구   용두동      1025.0               1347.0
2  동대문구   이문동      1344.0               2373.0
3  동대문구   장안동      2745.0               3584.0
4  동대문구   전농동      1559.0               1960.0
5  동대문구   제기동       901.0               1194.0
6  동대문구   회기동       285.0                335.0
7  동대문구   휘경동      1130.0               1413.0
8  동대문구  답십리동      1873.0               2538.0
9  동대문구  청량리동       659.0                873.0

In [25]:
# 동을 기준으로 병합 작업
merge = pd.merge(category_dongdaemun_pop,dongdaemun_registration, on='Dong')
merge

   Dong  Population    Gu  Pet_Owners  Total_Registrations
0   신설동           0  동대문구       147.0                194.0
1   용두동           0  동대문구      1025.0               1347.0
2   이문동       41423  동대문구      1344.0               2373.0
3   장안동       71052  동대문구      2745.0               3584.0
4   전농동       51329  동대문구      1559.0               1960.0
5   제기동       25501  동대문구       901.0               1194.0
6   회기동       13653  동대문구       285.0                335.0
7   휘경동       41342  동대문구      1130.0               1413.0
8  답십리동       56138  동대문구      1873.0               2538.0
9  청량리동       19347  동대문구       659.0                873.0

In [26]:
merge = merge[['Gu','Dong','Population','Pet_Owners','Total_Registrations']]
merge

     Gu  Dong  Population  Pet_Owners  Total_Registrations
0  동대문구   신설동           0       147.0                194.0
1  동대문구   용두동           0      1025.0               1347.0
2  동대문구   이문동       41423      1344.0               2373.0
3  동대문구   장안동       71052      2745.0               3584.0
4  동대문구   전농동       51329      1559.0               1960.0
5  동대문구   제기동       25501       901.0               1194.0
6  동대문구   회기동       13653       285.0                335.0
7  동대문구   휘경동       41342      1130.0               1413.0
8  동대문구  답십리동       56138      1873.0               2538.0
9  동대문구  청량리동       19347       659.0                873.0

In [27]:
# 0이 포함된 행 제거
merge = merge[(merge['Population'] != 0) & (merge['Pet_Owners'] != 0) & (merge['Total_Registrations'] != 0)]
merge.reset_index(drop=True, inplace=True)
merge

     Gu  Dong  Population  Pet_Owners  Total_Registrations
0  동대문구   이문동       41423      1344.0               2373.0
1  동대문구   장안동       71052      2745.0               3584.0
2  동대문구   전농동       51329      1559.0               1960.0
3  동대문구   제기동       25501       901.0               1194.0
4  동대문구   회기동       13653       285.0                335.0
5  동대문구   휘경동       41342      1130.0               1413.0
6  동대문구  답십리동       56138      1873.0               2538.0
7  동대문구  청량리동       19347       659.0                873.0

In [28]:
merge.to_csv('dongdaemun_Pet_Population.csv', encoding='utf-8')