In [1]:
import numpy as np
import pandas as pd
data_row = pd.read_csv('동별통합데이터.csv') 
data = data_row.copy()
data.head(2)

,Unnamed: 0,Gu,Dong,Hospital_Counts,Sales_Counts,Consignment_Counts,Transit_Counts,Production_Counts,Import_Counts,Population,Pet_Owners,Total_Registrations
0,0,영등포구,영등포동,5,5,5,0,1,0,53949,1709,2207
1,1,영등포구,여의동,4,3,3,0,0,0,33713,1659,2064

In [2]:
data = data[['Population',	'Pet_Owners',	'Total_Registrations']]
data

     Population  Pet_Owners  Total_Registrations
0         53949        1709                 2207
1         33713        1659                 2064
2         41180        1672                 2099
3         99799        4212                 5303
4         32342        1222                 1636
..          ...         ...                  ...
140       18022        1687                 2487
141       33445        1855                 2432
142       13763        1559                 2287
143       10271         985                 1301
144       11518         511                  676

[145 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Population           145 non-null    int64
 1   Pet_Owners           145 non-null    int64
 2   Total_Registrations  145 non-null    int64
dtypes: int64(3)
memory usage: 3.5 KB

In [6]:
model1_feature_columns = list(data.columns.difference(['Pet_Owners']))
model1_x_feature = data[model1_feature_columns]
model1_x_feature

     Population  Total_Registrations
0         53949                 2207
1         33713                 2064
2         41180                 2099
3         99799                 5303
4         32342                 1636
..          ...                  ...
140       18022                 2487
141       33445                 2432
142       13763                 2287
143       10271                 1301
144       11518                  676

[145 rows x 2 columns]

In [7]:
model1_y_Pet_Owners = data['Pet_Owners']
model1_y_Pet_Owners

0      1709
1      1659
2      1672
3      4212
4      1222
       ...
140    1687
141    1855
142    1559
143     985
144     511
Name: Pet_Owners, Length: 145, dtype: int64

In [9]:
import os
from sklearn.model_selection import train_test_split

x = model1_x_feature
y = model1_y_Pet_Owners

model1_train_x, model1_test_x, model1_train_y, model1_test_y = train_test_split(x,y, test_size =0.3, random_state=42 )
print(model1_train_x.shape, model1_test_x.shape, model1_train_y.shape, model1_test_y.shape)

(101, 2) (44, 2) (101,) (44,)

In [19]:
model1_train_x.reset_index(drop=True).to_csv('model1_train_x.csv')
model1_test_x.reset_index(drop=True).to_csv('model1_test_x.csv')
model1_train_y.reset_index(drop=True).to_csv('model1_train_y.csv')
model1_test_y.reset_index(drop=True).to_csv('model1_test_y.csv')

In [16]:
import os
from sklearn.model_selection import train_test_split

model2_x_Pet_Population = data['Population']
model2_y_Pet_Total_Registrations = data['Total_Registrations']


x = model2_x_Pet_Population
y = model2_y_Pet_Total_Registrations

model2_train_x, model2_test_x, model2_train_y, model2_test_y = train_test_split(x,y, test_size =0.3, random_state=42 )
print(model2_train_x.shape, model2_test_x.shape, model2_train_y.shape, model2_test_y.shape)

(101,) (44,) (101,) (44,)

In [20]:
model2_train_x.reset_index(drop=True).to_csv('model2_train_x.csv')
model2_test_x.reset_index(drop=True).to_csv('model2_test_x.csv')
model2_train_y.reset_index(drop=True).to_csv('model2_train_y.csv')
model2_test_y.reset_index(drop=True).to_csv('model2_test_y.csv')